<div class="testcase">
    <!-- summary -->
    <div class="summary">
        <h2>Summary</h2>
        <div class="block">
            <h3 class="<%= result %>">
            <% if(result === "done"){ %>
                <i class="icon-ok"></i> DONE
            <% } else if(result === "failed"){ %>
                <i class="icon-remove"></i> FAILED
            <% } else { %>
                <i class="icon-question"></i> UNDEFINED
            <% } %>
            </h3>
            <p><%= now %></p>
            <table class="pure-table">
            <thead><tr>
                <th class="done">Done</th>
                <th class="failed">Failed</th>
                <th class="undefined">Undefined</th>
                <th class="total">Total</th>
            </tr></thead>
            <tbody><tr>
                <td class="done"><%= count.done %></th>
                <td class="failed"><%= count.failed %></th>
                <td class="undefined"><%= count.undefined %></th>
                <td class="total"><%= count.total %></th>
            </tr></tbody>
            </table>
        </div>
    </div>
    <!-- /summary -->

    <h2 class="testcase-name"><%= title %></h2>
    <div class="block">
    <% _.each(tests, function(test){ %>
        <div class="command-group <%= test.result %>">
            <p>
                <% if(test.result === "done"){ %>
                    <i class="icon-ok"></i>
                <% } else if(test.result === "failed"){ %>
                    <i class="icon-remove"></i>
                <% } else { %>
                    <i class="icon-question"></i>
                <% } %>
                <%= test.title %>
            </p>

            <table class="pure-table pure-table-striped testcase-commands">
            <thead><tr>
                <th class="testcase-result"></th>
                <th class="testcase-command">Command</th>
                <th class="testcase-target">Target</th>
                <th class="testcase-value">Value</th>
            </tr></thead>
            <tbody>
            <% _.each(test.commands, function(cmd){ %>
            <tr class="<%= cmd.result %>">
                <td class="testcase-result">
                    <% if(cmd.result === "done"){ %>
                        <i class="icon-ok"></i>
                    <% } else if(cmd.result === "failed"){ %>
                        <i class="icon-remove"></i>
                    <% } else { %>
                        <i class="icon-question"></i>
                    <% } %>
                </td>
                <td class="testcase-command"><%= cmd.command %></td>
                <td class="testcase-target"><%= cmd.target %></td>
                <td class="testcase-value"><%= cmd.value %></td>
            </tr>
            <% }); %>
            </tbody></table>
        </div>
    <% }); %>
    </div>
</div>
